.my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
  display: block;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
}

body {
  background-color: #d0f1eb;
}

h1 {
  color: #0B4F6C;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 40px;
}

button {
  background-color: #0B4F6C;
  color: white;
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  justify-content: center;
}
.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.input-wrapper input[type="text"] {
  padding-left: 30px;
}
